node_modules
.tmp
npm-debug.log
.idea
.DS_Store
.editorconfig
.npmrc
.vscode
package-lock.json
.tmp
testResults.csv
data/files/pof*
data/imgBaseline/actual
data/imgBaseline/diff
debug.log
cucumber_report.json
tracelog.json
chromeDownloads
*.cid
local.log
